<section class="md-typography">
<h1 class="md-display-1">Road Trip de la Forêt</h1>

<h2 class="md-display-4">C'est quoi ?</h2>
  <p>
    Un voyage en voiture autour dans les 4 coins de la France. Pour découvrir culture, nature et patrimoine.
  </p>
  <p>
    Mais aussi profiter des plus grandes villes de Frances et de leurs vies nocturnes !
  </p>
<h2 class="md-display-4">Mais quelle drôle d'idée</h2>
  <p>
    Avant d'abordé la suite, une rapide explication de la naissance de cette idée.
  </p>
  <p>
    L'idée est née d'un constat simple. Lorsque nous partons à l'étranger nous sommes prêt à parcourir des distances folles pour voir des choses extraordinaires.
    Cependant en France aucun d'entre nous n'a visité tout ce qu'il y a à voir, ou ne serait-ce que l'ensemble des villes majeures.
  </p>
  <p>
    La France étant le pays le plus visité au monde, cela doit bien être mérité. Nous vous proposons donc de découvrir un maximum du paysage français pour cet été 2018.
  </p>
<h2 class="md-display-4">Le principe</h2>
  <p>
    Le principe est simple. Autant de voitures que nécessaire pour le nombre de participants. A chaque jour une ville de départ et une ville d'arrivée. Le but étant de faire le tour de la France (et quelques escapades dans les pays frontaliers).
    Les étapes sont prévues pour être suffisament rapprochées pour éviter les longs trajets, sans mettre 1 mois à faire le tour.
  </p>
  <p>
    Sur le chemin entre la ville de départ et la ville d'arrivée certaines étapes pourront être faites, sans pour autant que l'on y passe la nuit. (Vous imaginez bien que Montélimar c'est sympa pour le nougat, par contre en ce qui concerne les activités nocturnes...)
  </p>
  <p>
    Un profil type de journée pourront donc être le suivant :
    <li>10h : Départ de la ville de départ</li>
    <li>12h - 13h : Pause déjeuner / ravitaillement dans un endroit coquet et mignon</li>
    <li>15h - 16h : Escale touristique (paysage, cave à vin, monument, spécialité locale, baignade, etc.)</li>
    <li>17h : Arrivée dans la ville de destination</li>
    <li>17h - 18h : Logistique et logement</li>
    <li>18h - 20h : Visite de la ville de destination</li>
    <li>20h - 00h : Bar / Brasserie / Restaurant</li>
    <li>00h - ... : Dancefloor</li>
  </p>

<h2 class="md-display-4">Règles évidentes</h2>
  <p>Quelques règles évidentes pour que tout se passe dans de bonnes conditions et que tout le monde reste en vie.</p>
  <li>
    Il va de soi que la personne qui conduit la voiture tôt le lendemain ne fait pas la fête toute la soirée. Pour des raisons évidentes d'alcool et de fatigue. Deux choses pas terribles sur la route.
  </li>
  <li>
    Il va donc de soi aussi qu'il faudra alterner les conducteurs pour que tout le monde puisse profiter.
  </li>
  <li>
    Pour éviter tout retard sur un planning assez chargé, les personnes qui sortent la veille assume le réveil à l'heure (qui pourra être très matinale), quitte à dormir dans la voiture.
  </li>
  <li>
    Il est évident que toutes les activités sont facultatives, vous faites ce que vous voulez. Vous êtes grands !
  </li>
  <li>
    On peut même imaginer des escales différentes par voiture, si l'on est assez !
  </li>
  <li>
    Si pour des raisons de non disponibilités lors de l'entiéreté du trajet ou tout autre excuse (recevable ou non) vous ne pouvez pas faire l'ensemble des étapes, on pourra trouver un arrangement pour vous récupérer sur la route.
  </li>

<h2 class="md-display-4">C'est quand ?</h2>
  <p>Les dates précises ne sont pas encore fixées. L'été étant probablement la période idéale pour une raison : le temps.</p>
<h2 class="md-display-4">Combien de temps ?</h2>
  <p>Il y aura 17 étapes, donc 17 jours. Voir le reste du site pour plus de détails.</p>
<h2 class="md-display-4">Le budget</h2>
  <p>Il est en cours de calcul, mais prévoir de l'ordre de 1500€</p>
</section>
